body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    color: #2c3e50;
    margin-top: 10px;
}

p {
    color: #555;
    font-size: 18px;
}

nav {
    background-color: #2c3e50;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-weight: bold;
    font-size: 16px;
}

nav a:hover {
    color: #f1c40f;
}


.container {
    max-width: 800px;
    margin: 60px auto;
    padding: 20px;
    text-align: left;
}

.container h1 {
    text-align: center;
    margin-bottom: 40px;
}

.container h2 {
    margin-top: 40px;
    color: #2c3e50;
}

.container p {
    line-height: 1.7;
    margin-bottom: 20px;
}

.container ul {
    margin-left: 20px;
    margin-bottom: 30px;
}

.container li {
    margin-bottom: 10px;
}


.project-card {
    background-color: white;
    padding: 20px;
    margin-bottom: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.project-card h2 {
    margin-top: 0;
    color: #2c3e50;
}


.project-card a {
    display: inline-block;
    margin-top: 15px;
    padding: 8px 15px;
    background-color: #2c3e50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
}

.project-card a:hover {
    background-color: #1a252f;
}
